* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:  "Merriweather", serif;
  font-style: normal;
}


:root {
  --display-pseudo: none;
  --after-color: #00000026;
}



body {
  background-color: #ffffff;
  position: relative;
}

.page-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.noto-sans-georgian-400 {
  font-family: "Noto Sans Georgian", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.noto-sans-georgian-600 {
  font-family: "Noto Sans Georgian", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.main {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  max-width: 732px;
  margin: auto;
  z-index: 1;

}
  

.mainContainer {
  max-width: 732px;
  margin: 0 auto;
  height: auto;
  position: relative;
  padding: 21px 0 0 0 ;
  width: 100%;
  line-height: 28.44px;
}

.editable {
  outline: none;
  min-height: 30px;
  margin: 0px 21px 12px 21px;
  font-size: 16px;
  font-weight: 500;
  
}


.title, 
.author {
  outline: none;
  display: block;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  max-width: calc(100% - 42px);
  width: 100%;
}




.editable:empty::before,
.title:empty:before,
.author:empty:before {
  content: attr(data-placeholder);
  color: #aaa;
  font-weight: light;
  pointer-events: none;
  min-width: 1px;
}

.editable[data-placeholder-visible]::before, 
.editHeader[data-placeholder-visible]::before {
  content: attr(data-placeholder);
  color: #aaa; 
  pointer-events: none; 
  min-width: 1px;
}




.no-before:empty::before {
  display: none;
}

.itemsFunc {
  display: inline-block;
  border: 1px solid #ff5e5e;
  min-height: 20px;
  padding: 5px 10px;
  font-size: 10px;
  background: #ffe5e5;
  color: #d9534f;
  position: absolute;
  z-index: -3;
 
  border-radius: 4px;
}

.placeholderHeader {
  display: inline-block;
  position: absolute;
  z-index: 0;
  
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  transition: opacity 0.15s linear;
}



.title::after {
  content: 'Title';
  position: absolute;
  display: var(--display-pseudo);
  font-weight: 200 !important;
  height: 50%;
  width: auto;
  padding: 9px 12px;
  margin: 0 21px;
  left: -21px;
  top: 15px;
  border-right: 2px solid rgba(0, 0, 0, 0.15);
  transform: translate(-100%, 0%);
  color: var(--after-color);
  min-width: 1px;
}


.author::after {
  content: 'Author';
  position: absolute;
  display: var(--display-pseudo);
  height: 50%;
  width: auto;
  padding: 9px 12px;
  margin: 0 21px;
  left: -21px;
  top: 0;
  border-right: 2px solid rgba(0, 0, 0, 0.15);
  transform: translate(-100%, 0%);
  color: var(--after-color);
  min-width: 1px;
}

.no-after::after {
  display: none;
}

.buttonsContainer {
    position: fixed;
    left: 50%;
    top: 0;
    right: 0;
    margin: 46px 0 0 376px
}

button {
  padding: 4px 12px;
  margin-bottom: 15px;
  border: 2px solid rgb(51, 51, 51);
  background-color: #ffffff;
  border-radius: 16px;
  color: #000;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.border {
  border : 1px solid gray;
}


.hide {
  display: none;
}


.title {
  color: rgba(0, 0, 0, 0.8);
  display: block;
  font-size: 30px;
  font-weight: bold;
  margin: 21px 21px 12px 21px;
  line-height: 34px;
  padding: 0;
  position: relative;
  tab-size: 4;
  
}
.author {
  margin: 12px 21px;
  padding: 0;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: rgb(121, 130, 139);

}


.none {
  display: none;
}






.account {
  font-size: 15px;
  line-height: 18px;
  color: #000;
  margin: 0 0 15px;
  white-space: pre-wrap;
  margin-bottom: 15px;
}

@media (max-width: 960px) {
  .buttonsContainer {
      position:static;
      width: auto;
      margin: 30px 21px;
      padding: 1px 0;
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-start;
      
  }

  
  

  
}



