<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Telegraph improved</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@100..900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="page-wrap">
      <div class="main">
        <div class="mainContainer">
          <h1
            dir="auto"
            contentEditable="true"
            class="title topics noto-sans-georgian-400 editHeader"
            data-placeholder="Title"
          >
            <!-- &nbsp; -->
          </h1>
          <p
            dir="auto"
            contentEditable="true"
            class="author topics noto-sans-georgian-400 editHeader"
            data-placeholder="Your name"
          >
            <!-- &nbsp; -->
          </p>
          <div
            dir="auto"
            class="editable"
            data-placeholder="Your story..."
            contenteditable="true"
          ></div>
        </div>
        <div class="itemsFunc">
          <button>1</button>
          <button>2</button>
          <button>3</button>
        </div>
        <div class="buttonsContainer">
          <div class="account account_top noto-sans-georgian-400">
            Ulugbek N
          </div>
          <button class="save hide noto-sans-georgian-600">edit</button>
          <button class="publish noto-sans-georgian-600">Publish</button>
        </div>
      </div>
    </div>

    <script src="/js/main.js"></script>
  </body>
</html>
